.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0;
    margin: 0;
    background-color: #F5F8FF;
    /* max-width: 1140px; */
}

/* shared style  */
.btn-primary {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: 1px solid black;
    border-radius: 10px;
}

/* nav styles */
.header {
    background-image: url(../Assets/Hero-bg.png);
    block-size: cover;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 50px 145px;
}

.logo {
    font-style: black;
    font-size: 34px;
    color: #4E47FF;
}

nav li {
    list-style: none;
}

/* banner design */
.banner {
    max-width: 905px;
    margin: 150px 260px 185px 260px;
    text-align: center;

}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.stay-focused {
    /* text-align: center; */
    margin-bottom: 45px;
}

/* about section style  */
.about {
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 116px;
}

.about-content {
    width: 517px;
    height: 203px;
    margin: 62px 220px 62px 140px;

}

.about-title {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}

.about-description {
    font-weight: normal;
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}

.about-image {
    width: 550px;
    height: 328px;
    border-radius: 48px;
    overflow: hidden;
}

/* user section style */
.user-box {
    max-width: 1000px;
    background-color: #4d47ff20;
    border-radius: 24px;
    padding: 40px 20px;
    text-align: center;
    margin: 40px auto;
}

.user-box h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #252432;
}

.user {
    display: flex;
    justify-content: space-around;
}

.user-number {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.user-status {
    color: #0000007e;
    font-size: 18px;
}

/* review section style  */
.review-section{
    max-width: 1000px;
    text-align: left;
margin: 40px auto;
}
.review-header{
    text-align: center;
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}
.card{
    width: 366px;
    margin: 20px;
    padding: 10px 0 10px 10px;
    background-color: #ffffffd7;
    border-radius: 14px;
}
.cards{
   padding: 24px;
   display: flex;
   justify-content: space-between;
}
.card-title{
    color: #1E1E1E;
}

.card-profile{
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
}
.card-description{
    color: #1E1E1E;
}
/* form section style */
.form-section{
    max-width: 1140px;
    display: flex;
    align-items: center;
    margin: 50px auto;
    justify-content: space-evenly;
}
.form-title{
    font-size: 80px;
    font-weight: bold;
    color: #000000;
}
#btn-form{
    padding: 10px 60px;

}
/* footer style */
footer{
    text-align: center;
    width: 531px;
    margin: 50px auto;
}
footer p{
    columns: #8987A1;
}
footer ul{
    display: flex;
    justify-content: space-between;
}
footer li{
    list-style: none;
    
}
footer li a{
    text-decoration: none;
    color: #8987A1;
}
