
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}
/* shared style  */
.btn-primary{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: 1px solid black;
    border-radius: 10px;
}

/* nav styles */
.header{
    background-image: url(../Assets/Hero-bg.png);
    block-size: cover;
}
.top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 150px 50px 145px;
}
.logo{
    font-style: black;
    font-size: 34px;
    color: #4E47FF;
}
nav li{
list-style: none;
}
/* banner design */
.banner{
    max-width: 905px;
    margin:150px 260px 185px 260px;
    text-align: center;

}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.stay-focused{
    /* text-align: center; */
    margin-bottom: 45px;
}
/* about section style  */
.about{
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 116px;
}
.about-content{
    width: 517px;
    height: 203px;
    margin: 62px 220px 62px 140px;
    
}
.about-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.about-description{
    font-weight: normal;
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}
.about-image{
width: 550px;
height: 328px;
border-radius: 48px;
overflow: hidden;
}